@font-face{
	font-family: Pixel;
	src: url(04B_03__.TTF);
}

body{
	background-color: #333;
	overflow: hidden;
	margin: 0px;
	font-family: Pixel;
}

canvas{
	image-rendering: optimize-contrast;
	margin: 0px auto;
	display: block;
	background-color: #000;
	border: 1px solid black;
}

#dummy{
	display: none;
	background: url(assets/tiles/blank.png);
}
