@font-face{
	font-family: Pixel;
	src: url(Pixel-UniCode.ttf);
}

body{
	background-color: #333;
	overflow: hidden;
	margin: 0px;
	font-family: Pixel;
}

canvas{
	image-rendering: optimize-contrast;
	margin: 0px auto;
	display: block;
	cursor: url(cursor.cur), -moz-zoom-in;
	background-color: #000;
}

#dummy{
	display: none;
	background: url(assets/tiles/blank.png);
}
